
.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background: linear-gradient(90deg, rgb(73, 8, 44),rgba(129, 18, 79, 1));
    color: beige;
}